* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.grid {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #5a5a5a;
    background-image: url('./images/space.png');
    background-size: cover;
    height: 600px;
    width: 600px;
}

.grid div{
    height: 40px;
    width: 40px;
    
}

.shooter {
    background-image: url('./images/shooter.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.invader {
    background-image: url('./images/invader.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.boom {
    background-image: url('./images/boom.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}

.laser {
    background-image: url('./images/laser.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}